<%= render 'shared/feed_list' %>
<aside id="reader" class="feed" data-feed-id="<%= @feed.id %>">
  <nav class="feed-options">
    <a href="#" class="button icon square" id="refresh-feed"><img src="/assets/icons/refresh.png" class="icon" alt="Refresh" title="Refresh"></a>
    <a href="<%= mark_all_as_read_feed_path(@feed.id) %>" class="button" data-remote="true" data-method="post">Mark all as read</a>
    <a href="<%= feed_path(@feed.id) %>" class="button red" data-method="delete">Delete</a>
  </nav>
  <h1 class="feed-title">
    <%= @feed.title %>
    <small class="label feed-post-counter"><%= @feed.posts.unread.count %></small>
  </h1>
  <section id="feed-posts-<%= @feed.id %>">
    <% @feed.posts.each do |post| %>
      <%= render 'shared/post', post: post %>
    <% end %>
  </section>
</aside>