<%= render 'shared/feed_list' %>
<aside id="reader" class="<%= controller.controller_name %>">
  <nav class="feed-options">
    <a href="<%= import_posts_feed_path(@feed.id) %>" class="button icon square" data-remote="true" data-method="post"><img src="/assets/icons/refresh.png" class="icon" alt="Refresh" title="Refresh"></a>
    <a href="<%= mark_all_as_read_feed_path(@feed.id) %>" class="button" data-remote="true" data-method="post">Mark all as read</a>
    <a href="<%= feed_path(@feed.id) %>" class="button red" data-method="delete">Delete</a>
  </nav>
  <h1 class="feed-title"><%= @feed.title %></h1>
  <% @feed.posts.each do |post| %>
    <%= render 'shared/post', post: post %>
  <% end %>
</aside>