<aside id="feeds">
  <h4>
    Feeds
    <a href="#" class="inline-action right" id="refresh-feeds"><img src="/assets/icons/refresh.png" class="icon" alt="Refresh" title="Refresh"></a>
  </h4>
  <ul id="feeds_list">
    <% current_user.feeds.each do |feed| %>
      <li class="feed-item" style="background: url('https://plus.google.com/_/favicon?domain=<%= feed.home_url %>') no-repeat left 2px;" data-feed-id="<%= feed.id %>">
        <a href="<%= feed_path(feed) %>" title="<%= feed.title %>">
          <%= truncate(feed.title, length: 20) %>
          <% if feed.posts.unread.count == 0 %>
            <% counter_class = "hidden" %>
          <% else %>
            <% counter_class = "" %>
          <% end %>
          <small class="label feed-post-counter <%= counter_class %>"><%= feed.posts.unread.count %></small>
        </a>
      </li>
    <% end %>
  </ul>
  <!-- <h4>Folders</h4>
  <h4>Tags</h4> -->
</aside>