<!DOCTYPE html>
<html>
<head>
  <title>Kent</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header">
    <h1 class="float">
      <a href="/">Kent</a>
    </h1>
    <nav class="float right">
      <% if user_signed_in? %>
        <span>Welcome, <%= current_user.first_name %></span>
        <% if current_user.feeds.count == 0 %>
          <small>(New here? Try <a href="/feeds/import">importing</a> your feeds)</small>
        <% end %>
        <a href="#" class="button blue">Subscribe</a>
        <a href="#" class="button red">Sign out</a>
      <% else %>
        <div class="button-group green">
          <span class="label">Sign in with...</span>
          <span class="buttons">
            <a href="/auth/twitter">
              <img src="/assets/twitter-24x24.png" title="Twitter" />
            </a>
            <a href="/auth/facebook">
              <img src="/assets/facebook-24x24.png" title="Facebook" />
            </a>
            <a href="/auth/gplus">
              <img src="/assets/google+-24x24.png" title="Google+" />
            </a>
          </span>
        </div>
      <% end %>
    </nav>
  </header>
  <section id="main">
    <%= yield %>
  </section>
</body>
</html>
